<a href="https://colab.research.google.com/github/dgg32/GEE_Kepler/blob/master/text_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install transformers

!pip install datasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Downloading transformers-4.25.1-py3-none-any.whl (5.8 MB)
     |████████████████████████████████| 5.8 MB 7.2 MB/s
Collecting huggingface-hub<1.0,>=0.10.0
  Downloading huggingface_hub-0.11.1-py3-none-any.whl (182 kB)
     |████████████████████████████████| 182 kB 63.1 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from transformers) (21.3)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1
  Downloading tokenizers-0.13.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.6 MB)
     |████████████████████████████████| 7.6 MB 17.6 MB/s
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.8/dist-packages (from transformers) (2022.6.2)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.8/dist-packages (from transformers) (4.64.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.8/dist-packages (from transformers) (1.21.6)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.8/dist-packages (from transformers) (6.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from transformers) (3.8.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.8/dist-packages (from huggingface-hub<1.0,>=0.10.0->transformers) (4.4.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.8/dist-packages (from packaging>=20.0->transformers) (3.0.9)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->transformers) (2022.12.7)
Installing collected packages: tokenizers, huggingface-hub, transformers
Successfully installed huggingface-hub-0.11.1 tokenizers-0.13.2 transformers-4.25.1

In [ ]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification, pipeline
from datasets import load_dataset
import tensorflow as tf
import pandas as pd
import numpy as np

ModuleNotFoundError: ignored

In [ ]:


tokenizer = AutoTokenizer.from_pretrained("Zamachi/albert-for-multilabel-sentence-classification")

model = AutoModelForSequenceClassification.from_pretrained("Zamachi/albert-for-multilabel-sentence-classification")

In [ ]:
model_infer = pipeline('text-classification',model=model,tokenizer=tokenizer)

In [ ]:
model_infer(["This restaurant is awesome"])

[{'label': 'anger', 'score': 0.4628935158252716}]

In [ ]:
sheet_id = "1pqu7hTkAO9hV7oGuXBnd2fSy1YmsTZPwLxnfoAVdGqI"
holmes_sheet_name = "holmes"
not_holmes_sheet_name = "not_holmes"

url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={holmes_sheet_name}"
df = pd.read_csv(url)
df_holmes = df[["sentence", "novel"]]
df_holmes["label"] = "holmes"

url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={not_holmes_sheet_name}"
df = pd.read_csv(url)
df_other = df[["sentence", "novel"]]
df_other["label"] = "other"

<ipython-input-3-1ddb3cd65c1f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_holmes["label"] = "holmes"
<ipython-input-3-1ddb3cd65c1f>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_other["label"] = "other"

In [ ]:
df_holmes.head()

,sentence,novel,label
0,"I've found it! I've found it,",a study in scarlet,holmes
1,I have found a reagent which is precipitated b...,a study in scarlet,holmes
2,How are you?,a study in scarlet,holmes
3,"You have been in Afghanistan, I perceive.",a study in scarlet,holmes
4,"Never mind,",a study in scarlet,holmes

In [ ]:
df_other.head()

,sentence,novel,label
0,"Whatever have you been doing with yourself, Wa...",a study in scarlet,other
1,You are as thin as a lath and as brown as a nut.,a study in scarlet,other
2,Poor devil!,a study in scarlet,other
3,What are you up to now?,a study in scarlet,other
4,"Looking for lodgings,",a study in scarlet,other

In [ ]:
df = pd.concat([df_holmes, df_other])

In [ ]:
df.head()

,sentence,novel,label
0,"I've found it! I've found it,",a study in scarlet,holmes
1,I have found a reagent which is precipitated b...,a study in scarlet,holmes
2,How are you?,a study in scarlet,holmes
3,"You have been in Afghanistan, I perceive.",a study in scarlet,holmes
4,"Never mind,",a study in scarlet,holmes

In [ ]:
dataset = Dataset.from_pandas(df)

NameError: ignored